.navbar {
  display: flex;
}
.switch {
  position: relative;
  width: 60px;
  height: 36px;
  display: block;
  margin-left: auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
  display: inline-block;
}
.input:focus-visible + .slider {
  outline: 3px solid var(--main-text-color);
}
.slider {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 35px;
  background-color: var(--detail-color);
}

.slider:before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  left: 4px;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: yellow;
  border-radius: 50%;
  transition: 0.4s;
  backface-visibility: hidden;
}

input:checked + .slider:before {
  transform: translate(22px, -50%);
  background-color: black;
}
